<ion-view title="Kyle's Class" id="page4">
    <ion-content padding="true" class="has-header">

        <h1 id="foodCourt-heading1" style="color:#000000; text-align:center;">Crowd Density Category</h1>
        <div>
            <img id= "cafVisual"  width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            <!-- <img id= "cafVisual" src="img/2jAj2wj7T2KnxeYPPmhu_bannermeter.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;"> -->
            <h1 id="state" style="text-align: center;"></h1>
        </div>
        <form id="foodCourt-form2" class="list">
            <label >
                <span id="timeFrom">Loading ....</span>
            </label>
        </form>

        <button id="foodCourt-button11" class="button button-positive  button-block">View Previous Data</button>
    </ion-content>
</ion-view>
