<ion-view title="Page" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="page-heading1" style="color:#000000; text-align:center;">History</h1>
    <form id="page-form2" class="list">
      <label class="item item-select" id="page-select1">
        <span class="input-label">Select</span>
        <select>
          <option>poop</option>
          <option>poop1</option>
          <option>poop2</option>
        </select>
      </label>
    </form>
  </ion-content>
</ion-view>