<ion-view title="Home" hide-nav-bar="true" id="page1" style="background-color:#C7FDF8;">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="height: 100px;"></div>
        <div>
            <img src="img/W7c6QtsSRpaRY7QyR0Ff_CROWDOMETER1.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="locations" id="home-button2" style="font-weight:300;color:#FAFAFC;" class="button button-positive  button-block">View Locations</a>
    </ion-content>
</ion-view>