<ion-view title="JFK Bus Stop" id="page5">
    <ion-content padding="true" class="has-header">
        <h1 id="jFKBusStop-heading2" style="color:#000000;">Crowd meter</h1>
        <div>
            <img src="img/2jAj2wj7T2KnxeYPPmhu_bannermeter.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="jFKBusStop-form3" class="list">
            <label class="item item-input" id="jFKBusStop-textarea2">
                <span class="input-label">4:02 PM</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <button id="jFKBusStop-button12" class="button button-positive  button-block">Refresh</button>
        <button id="jFKBusStop-button13" class="button button-positive  button-block">View Previous Data</button>
    </ion-content>
</ion-view>