<ion-view title="Kyle's Class" id="page4">
    <ion-content padding="true" class="has-header">

        <h1 id="kyleClass-heading1" style="color:#000000; text-align:center;">Crowd Density Category</h1>
        <div>
            <img id= "visual"  width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            <h1 id="state" style="text-align: center;"></h1>
        </div>
        
            <label >
                <span id="timeFrom">Loading ....</span>
            </label>
        

        <button id="kyleClass-button11" class="button button-positive  button-block">View Previous Data</button>
        <a ui-sref="history" id="kyleClass-button2" style="font-weight:300;color:#FAFAFC;" class="button button-positive  button-block">View Previous Data</a>
    </ion-content>
</ion-view>
